section#header-bar
  img.sc-m-sm(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

section#main-page
  #main-content
    #top-bar
      #top-bar-content
        .sc-input-group(style="width:16em")
          input.sc-input-default
          i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue

    #breadcrumb
      | Início / Financeiro / Cobrança

    #conteudo
      ul.sc-accordion
        li(ng-repeat="cobranca in cobrancas" ng-controller="Financeiro::Cobranca::ItemCtrl" ng-init="init(cobranca)" class="{{cobranca.acc.opened ? 'sc-acc-' + cobranca.status : ''}}")
          div(ng-click="toggleAcc(cobranca.acc)" class="sc-accordion-head sc-text-{{cobranca.status}}")
            .sc-accordion-icon-col.sc-divider
              i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-rotate-90':cobranca.acc.opened}")
            .sc-accordion-elastic-col.title
              span(ng-if="cobranca.unidade") {{ cobranca.unidade.nome }} - {{ cobranca.titulo }}
              span(ng-if="!cobranca.unidade") {{ nomePagador() }} - {{ cobranca.titulo }}
              span.description(ng-if="cobranca.unidade") Pagador: {{ nomePagador() }}
            .sc-accordion-col-10.align-right {{ cobranca.valor_original | currency }}
            .sc-accordion-col-3.align-center(sc-stop-click="")
              span.sc-dropdown.pull-right(sc-dropdown-menu="")
                i.sc-icon.sc-icon-reticiencias-v.sc-badge-hover-gray(ng-click="menu.toggle()" ng-class="{'sc-badge-hover-white':cobranca.acc.opened, 'sc-badge-active': menu.opened}")
                ul.sc-dropdown-menu.ng-animation-slider(ng-show="menu.isOn")
                  li
                    a(sc-dropdown-close-menu ng-click="formulario.open()")
                      i.sc-icon.sc-icon-lapis.sc-p-r-sm
                      |  Editar
                  li
                    span
                      i.sc-icon.sc-icon-lixeira-1.sc-p-r-sm
                      |  Excluir
          .sc-accordion-body.ng-animation-slider.ng-hide(ng-show="cobranca.acc.opened")
            div(ng-include="template.cobranca.show" ng-hide="formulario.opened")
            div(ng-include="template.cobranca.form" ng-if="formulario.opened")
