$alturaTopMenu: 3.75em;

body {background-color: #f3f3f4 }
img {display: block;}

#top-menu {
  height: $alturaTopMenu;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

#top-bar {
  transition: all .3s;
  z-index: 99;
  position: relative;
  #top-bar-content {
    position: fixed;
    width: 100%;
    top: $alturaTopMenu;
    &.fixed {
      box-shadow: 0 0 .3em rgba(0, 0, 0, .3);
    }
  }
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.flexbox {
  flex: 0 0 2em;
}
.wrap {
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  #top-menu, #top-bar-content {
    transition: all .3s;
  }
}
