.sc-p-lg(ng-controller="Financeiro::Cobranca::FormCtrl" ng-init="init(cobranca)")
  .sc-fieldset
    .sc-text-lg.sc-text-gray.sc-text-bold Cadastro
    .clear.sc-m-t-xxl
    .sc-p-r-lg.sc-p-b-md.sc-align-bottom(ng-if="form.destino")
      label
        .sc-label Destinatário
        select(ng-model="form.pagador_id" ng-change="setDestino()" ng-options="value.id as destinoComNome(value) for value in cobranca.pagadores").sc-input-default.sc-input-block
    .sc-p-r-lg.sc-p-b-md.sc-align-bottom
      label
        .sc-label Vencimento
        input.sc-input-default(ng-model="form.vencimento" type="date" disabled)

  .sc-fieldset
    table.sc-table(style="width:100%")
      thead
        tr
          th Composição da Cobrança
          th.align-right Valor
      tbody
        tr(ng-repeat="composicao in cobranca.composicoes")
          td {{ composicao.titulo }}
          td.align-right {{ composicao.valor | currency }}
      tfoot
        tr
          td
          td.align-right Total: {{ cobranca.valor_original | currency }}

  .align-right
    button.sc-btn.sc-btn-red.sc-m-l-md(type="button" ng-click="formulario.close()") Cancelar
    button.sc-btn.sc-btn-blue.sc-m-l-md(type="button" ng-click="formulario.close()") Salvar
