.sc-p-lg
  .sc-fieldset
    p.sc-text-gray(ng-if="cobranca.destino") Destinatário:
      span.sc-text-blue.sc-p-l-sm {{ tiposDestinoUnidades(cobranca) }}
    p.sc-text-gray Vencimento:
      span.sc-text-blue.sc-p-l-sm {{ cobranca.vencimento | date:'dd/MM/yyyy' }}
    p.sc-text-gray Mês de referência:
      span.sc-text-blue.sc-p-l-sm(style="text-transform: capitalize") {{ cobranca.mes_referencia | date:'MMM/yyyy' }}
    p.sc-text-gray Criado em:
      span.sc-text-blue.sc-p-l-sm {{ cobranca.created_at | date:'dd/MM/yyyy' }}

  .sc-fieldset
    table.sc-table(style="width:100%")
      thead
        tr
          th Composição da Cobrança
          th.align-right Valor
      tbody
        tr(ng-repeat="composicao in cobranca.composicoes")
          td {{ composicao.titulo }}
          td.align-right {{ composicao.valor | currency }}
      tfoot
        tr
          td
          td.align-right Total: {{ cobranca.valor_original | currency }}
